body {
    background-size: 180% 180%;
    background-color: #F5EDED;
    font-family: "Cardo";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

#nav {
    background-color: #7FA1C3;
}

.link {
    color: #335686;
}

.link:hover {
    color: #263963;
}

.greetings {
    display: flex;
    align-items: center;
}

.circle {
    width: 5px;
    height: 5px;
    background-color: #7FA1C3;
    border-radius: 50%;
    display: inline-block;
    transform: translate(4px, 4px);
}

#home {
    color: #335686 !important;
    font-family: "Cardo" !important;
}

#home .pic {
    margin-top: 5rem;
}

#home .text-body-emphasis {
    color: #335686 !important;
}

.rectangle {
    width: 220px;
    height: 3px;
    background-color: #7FA1C3;
    display: inline-block;
    transform: translate(4px, 4px);
    border-radius: 15px;
}

#name {
    display: flex;
    align-items: center;
    gap: 20px;
}

#home .btn-primary {
    background-color: #7FA1C3;
    border-color: #7FA1C3;
    color: #335686 !important;
    border-radius: 30px;
    padding: 10px 20px;
}

#home .btn-primary:hover {
    background-color: #335686;
    border-color: #335686;
    color: #1f334f !important;
}

#home .btn-outline-secondary {
    background-color: #E2DAD6;
    border-color: #E2DAD6;
    color: #335686 !important;
    border-radius: 30px;
    padding: 10px 20px;
}

#home .btn-outline-secondary:hover {
    background-color: #c2bbb8;
    border-color: #c2bbb8;
    color: #29456b !important;
}

#about h2 {
    font-family: "Cardo";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #335686 !important;
}

.border-bottom {
    color: #335686 !important;
}

#about p {
    font-family: "Cardo";
    font-style: normal;
    font-size: 20px;
    color: #335686 !important;
}

#about code {
    color: #263963;
    font-weight: 530;
}

#tools h3 {
    font-family: "Cardo";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #335686 !important;
}

#projects h2 {
    font-family: "Cardo";
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #335686 !important;
}

#projects .border-bottom {
    margin-bottom: 1rem;
}

#pill {
    background-color: #E2DAD6 !important;
    color: #335686;
    margin-right: 5px !important; /* Adjust the spacing as needed */
}

.large-badge {
    font-size: .8rem;
    padding: 0.5rem 1rem;
    width: 100px;
    height: 30px;
    margin: 5px;
}

#projects .btn-outline-secondary {
    background-color: #7FA1C3;
    border-color: #7FA1C3;
    color: #335686 !important;
    padding: 10px 20px;
    border-radius: 30px;
}

#projects .btn-outline-secondary svg {
    transform: translate(5px, -2px);
}

#projects .btn-outline-secondary:hover {
    background-color: #335686;
    border-color: #335686;
    color: #1f334f !important;
}

#projects #link {
    color: #335686;
    font-family: "Cardo";
    font-weight: 550;
    font-style: normal;
    font-size: 16px;
    margin-top: 12px;
}

#projects p {
    color: #335686;
    font-family: "Cardo";
    font-weight: 550;
    font-style: normal;
    font-size: 16px;
}

#contacts h2 {
    font-family: "Cardo";
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #335686 !important;
}

#connect {
    font-family: "Cardo";
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #335686 !important;
}

.text {
    font-family: "Cardo";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #335686 !important;

}

#contacts button {
    background-color: #7FA1C3;
    border-color: #7FA1C3;
    color: #335686 !important;
    border-radius: 30px;
    padding: 10px 20px;
}

.icon-color {
    color: #335686;
    width: 20px;
    height: 20px;
}

#contacts button:hover {
    background-color: #335686;
    border-color: #335686;
    color: #1f334f !important;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: #263963;
}

.footer button {
    border: none;
    background-color: #F5EDED;
}
